.footer-container{
    width: 90%;
    margin:auto;
}

.footer-basic {
    padding:40px 0;
    background-color:#f7fbff;
    color:#4b4c4d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 2px;
  }
  .footer-basic h4{
    padding:0;
    list-style:none;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    line-height:1.6;
    margin-bottom:0;
  }
  .footer-basic ul {
    padding:0;
    list-style:none;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    line-height:1.6;
    margin-bottom:0;
  }
 
  .footer-basic li {
    padding:0 ;
    margin-top: 12px;
  }

  .footer-column{
    display: inline-block;
    text-align: left;
    vertical-align:text-top;
    justify-items: center;
    width: 23%;
    margin-left: 20px;
  }


  .footer-column-start{
    display: inline-block;
    text-align: left;
    vertical-align:text-top;
    justify-items: center;
    width: 23%;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:1;
  }
  
  .footer-basic ul a:hover {
    color : #333333;
    text-decoration: underline;
  }

  h5{
    float: left;
    margin-left: auto ;
    margin-right: 20px;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    font-weight: normal;
  }

  .footer-image-right  {
    float :left;
	width: 25px;
	height: 25px;
    margin-top: 15px;
    margin-right: 20px;
   }

   .copyright{
    float :left;
       width: 20px;
       height: 20px;
       margin-top: 20px;
   }
   
   .footer-end{
    padding:40px 0;
    background-color:#f7fbff;
    color:#4b4c4d;
    margin :auto;
    margin-bottom: 40px;
    border: 2px;
    width:90%;
   }
    
    .footer-end-left{
      
       border-top:2px solid rgb(211, 209, 209);
   }

   .footer-end-right{
    float : right;   
    display: inline-block;
    text-align: left;
    justify-items: center;
    width: 23%;
    margin-left: 20px;
    margin-right : 50px;
    clear: right;
   }
   
   .language{
       margin-right: 30px;
   }
    .footer-end-right h5{
    font-weight: bold;
    text-decoration: underline;
   }

   .point{
    position: relative;
    top: -7px;
}